.profile {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    min-width: 220px;
    grid-template-areas: "avatar info button";
}

.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    grid-area: avatar;
}

.profile__information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    max-width: 415px;
    width: 100%;
    grid-area: info;
}

.profile__title {
    color:white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    max-width: 373px;
    margin-bottom: 8px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
   
}

.profile__description {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    max-width: 415px;
    margin-bottom: 0;
    margin-top: 0;
}

.profile__button-edit {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__button-image {
    width: 10px;
    height: 10px;
}

.profile__button-edit:hover {
    opacity: 50%;
}

.profile__button-add {
    width: 150px;
    height: 50px;
    border-radius: 2px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid white;
    background-color: transparent;
    cursor: pointer;
    grid-area: button;
 }

 .profile__button-image-add {
    width: 22px;
    height: 22px;
    margin: auto;
 }

.profile__button-add:hover {
    opacity: 50%;
}

@media screen and (min-width: 320px) and (max-width: 639px) {
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 320px;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .profile__image {
        margin: 0 auto;
    }

    .profile__information {
       display: grid;
       grid-template-columns: auto auto;
       grid-template-areas:
       "title edit"
       "description description";
       grid-gap: 14px 10px;
       justify-content: center;
       align-content: center;
       align-items: center;
       margin-top: 30px;
    }

    .profile__title {
        
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 1.2;
        text-align: center;
        grid-area: title;
        margin: 0;
    }


    .profile__button-edit {
        margin: auto;
        width: 18px;
        height: 18px;
        grid-area: edit;
    }

    .profile__description {
        margin: auto;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        grid-area: description;

    }

    .profile__button-add {
        margin-top: 36px;
        margin-right: auto;
        margin-left: auto;
        min-width: 282px;
    }

    .profile__button-image {
        width: 7.49px;
        height: 7.49px;
    }

    .profile__button-image-add {
        width: 16px;
        height: 16px;
    }
}

@media screen and (min-width: 640px) and (max-width: 920px) {
    .profile {
        display: grid;
        grid-template-columns: 0.7fr 1.5fr 1fr;
        max-width: 768px;
        width: 90%;
        grid-template-areas: "avatar info button";

}

    .profile__information {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
        "title button"
        "description description";
        margin: 0;
    }


    .profile__title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 30px;
        grid-area: title;
        margin: auto;
        max-width: 100%;
    }
    
    .profile__button-edit {
        grid-area: button;
        margin-top: auto;
        margin-bottom: auto;
        align-self: center;
        justify-self: center;
    }

    .profile__description {
        grid-area: description;
        max-width: 600px;
    }

    .profile__button-image-add {
        width: 16px;
        height: 16px;
    }
}
